{% extends 'base_templates/base.html' %}
{% load static %}
{% block content %}
    <form action="{% url 'assign_teacher' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 edit_information">
                <h3 class="text-center">Assign teacher to class</h3>
                {% for field in form %}
                    <div class="assign-row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="profile_details_text">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="assign-row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            {{ form.errors }}
                        </div>
                    </div>
                </div>
                <div class="assign-row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input type="submit" value="Assign Teacher" class="button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        const teachersSubject =
        {{ teachers_subject|safe }}
    </script>
    <script src="{% static 'assign_teacher_class.js' %}">
    </script>
{% endblock %}