{% extends 'base_templates/base.html' %}
{% load static %}
{% block content %}
    <form action="{% url 'edit_profile' pk=user.pk %}" method="post" id="principal-form">
        {% csrf_token %}
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 edit_information">
                <form action="" method="POST">
                    <h3 class="text-center">Edit Personal Information</h3>
                    <div style="display: none">{{ p_errors|safe }}</div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="profile_details_text">First Name:</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="profile_details_text">Last Name: </label>
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="profile_details_text">Email Address:</label>
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="profile_details_text">Image URL:</label>
                                {{ p_form.image_url }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="profile_details_text">Mobile Number:</label>
                                {{ p_form.phone }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="profile_details_text">Date Of Birth:</label>
                                {{ p_form.date_of_birth }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="profile_details_text">Gender:</label>
                                {{ p_form.gender }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="profile_details_text">Address:</label>
                                {{ p_form.address }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submit">
                            <div class="form-group">
                                <input type="submit" class="button" value="Edit Profile">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
    <script src="{% static 'edit_errors.js' %}" defer></script>
{% endblock %}