{% extends 'base_templates/base.html' %}
{% block content %}
    {% if request.user.groups.first.name == 'Principal' %}
        <a class="assing-button" href="{% url 'assign_teacher' %}">
            <button class="button">
                Assign Teacher
            </button>
        </a>
    {% endif %}
    <div class="classes-container">
        {% if object_list %}
            <ul class="ul-classes">
                {% for class in object_list %}
                    <li class="li-classes">
                        <a href="{% url 'classes_details' pk=class.pk %}" class="class-value">
                            {{ class }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="no-data">
                No classes!
            </div>
        {% endif %}
    </div>
{% endblock %}