body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

main {
    margin-top: 4%;
    margin-left: 0.5%;
}

ul li a {
    text-decoration: none;
    list-style-type: none;
}

button, .button {
    background-color: #04A86A; /* Green */
    border: 2px solid black;
    color: white;
    padding: 3px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    border-radius: 15px;
}

.button-delete {
    background-color: #8B0000FF;
    border: 2px solid black;
    color: white;
    padding: 5.5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    border-radius: 15px;
}


.grades {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
    padding: 10px;
    margin: auto;
    font-size: 18px;
}

.grades td, .grades th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.grades tr:nth-child(even) {
    background-color: #f2f2f2;
}

.grades tr:hover {
    background-color: #ddd;
}

.grades th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}

.grades th.subject-name {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #3CB043;
    color: white;
}

.grades td.subject-grade {
    text-align: left;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #04A86A;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

.grade-details {
    color: black;
}

.login-form {
    position: absolute;
    top: 29%;
    left: 35%;
    width: 30%;
    border: 10px solid #04A86A;
    border-radius: 3rem;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.register-form {
    position: absolute;
    top: 15%;
    left: 35%;
    width: 30%;
    border: 10px solid #04A86A;
    border-radius: 3rem;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.redirect-url {
    margin-left: 20%;
    margin-top: 3%;
}

.authenticate-button {
    margin-left: 41%;
}

.approve-form {
    position: absolute;
    top: 15%;
    left: 35%;
    width: 30%;
    border: 10px solid #04A86A;
    border-radius: 3rem;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.form-control:hover {
    cursor: pointer;
}

.form-control:checked {
    cursor: wait;
}

/* List */
.list-container {
    width: 450px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

h3 {
    text-align: center;
    font-weight: 500;
}

.search-wrapper .search {
    background: #eee;
    border-radius: 4px;
    display: flex;
    align-items: center;
}


.search-icon .fa {
    color: #ccc;
    margin: 10px;
}

.input-search {
    padding: 8px 10px;
    border: 0;
    background: transparent;
    width: 100%;
    outline: none;
    font-size: 10pt;
    color: #808080;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

ul.list a {
    text-decoration: none;
    text-underline-mode: off;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 10pt;
    font-weight: 300;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #656565;
    transition: all .3s ease;
}


ul.list a:hover {
    background: #04A86A;
    color: #fff;
}


.circle {
    margin-right: 10px;
    align-self: center;
    color: #6ecc8b;
}


.circle::before {
    content: "\2022";
    font-size: 23pt;
    vertical-align: middle;
}

.input-search {
    display: flex;
}

.input-search .search input {
    background-color: #fafafa;
    width: 80%;
    padding: 5px 5px 5px 0;
    text-indent: 21px;
    outline: none;
    border: 1px solid rgb(218, 217, 217);
    border-radius: 2px;
    color: rgb(77, 77, 77);
}

.input-search .search input::placeholder {
    font-weight: lighter;
    color: rgb(172, 172, 172);
}

.search-button {
    border: none;
    position: absolute;
    margin-left: 38rem;
    margin-top: 0.2rem;
}

form.input-search label {
    display: none;
}

.errorlist li {
    color: red;
}

.welcome-message {
    position: absolute;
    left: 34%;
    top: 11%;
}

.home-image {
    width: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.user-name {
    position: absolute;
    left: 44%;
    top: 6%;
}

.work-time, .about-subject, .about-users {
    border: 1px solid;
    width: 12%;
    padding: 12px;
    margin-bottom: 11px;
}

.about-info {
    border: 1px solid;
    width: 45%;
    padding: 15px;
    margin-bottom: 11px;
}

#clickMe:hover {
    cursor: pointer;
}

.about-info {
    text-align: center;
    margin: 30px;
}

.about-info h1 {
    font-size: 36px;
    font-weight: bold;
}

.work-time {
    text-align: center;
    margin: 30px;
}

.work-time h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-subject {
    text-align: center;
    margin: 30px;
}

.about-subject h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-subject ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-subject li {
    font-size: 18px;
    margin: 5px;
}

.about-users {
    text-align: center;
    margin: 30px;
}

.about-users h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-users ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-users li {
    font-size: 18px;
    margin: 5px;
}

.about-p {
    line-height: 1.6;
    font-size: 18px;
}

.testimonials {
    text-align: center;
    margin: 30px;
}

.testimonials h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonials blockquote {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
}

.testimonials blockquote cite {
    font-style: italic;
    display: block;
    margin-top: 10px;
}


.work-subjects-teachers {
    display: flex;
    justify-content: space-between;
}

.work-subjects-teachers .work-time,
.work-subjects-teachers .about-subject,
.work-subjects-teachers .about-users {
    flex: 1;
    text-align: center;
    margin: 20px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-info {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.contact-info {
    text-align: center;
    margin: 30px;
}

.contact-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 18px;
    margin: 5px;
    line-height: 1.6;
}

.no-data {
    text-align: center;
    font-size: 20px;
}

.classes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Adjust as needed */
}

.ul-classes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.li-classes {
    border: 3px solid black;
    border-radius: 12px;
    width: 14rem;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04AA6D;
    font-size: 45px;
}

.li-classes:hover, .button:hover, .search-button:hover {
    background-color: #026c46;
}

.button-delete:hover {
    background-color: #6b0000;
}

.class-value {
    color: #ffffff;
    padding: 38px 57.5px;
}

.class-value:hover, .assing-button:hover {
    color: #ffffff;
    text-decoration: none;
}

.assing-button {
    display: flex;
    justify-content: center;
    transform: translate(0%, 54rem);
}

.assign-row {
    display: flex;
    justify-content: center;
}

.profile-count {
    font-size: 18px;
    margin: 5px;
}

.class-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #04A86A;
    border-radius: 3rem;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.users-in-class-name {
    margin: 7px;
    width: 10rem;
    padding: 4px;
}

.users-in-class {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.delete-button-position, .attention-emoji {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.attention-emoji {
    top: -13rem;
    font-size: 10rem;
}

.form-delete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete-text {
    font-size: 25px;
}

.assign-form, .edit-subject-form, .edit-grade-form, .add-student-grade {
    border: 10px solid #04A86A;
    border-radius: 3rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.assign-row {
    gap: 5px;
}

.subject-select {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    width: 50%;
}